@page
@model Avancira.API.Pages.Account.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
}

<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
    <div>
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" />
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password" />
    </div>
    <button type="submit">Log in</button>
</form>

<a href="/external/Google?returnUrl=@Model.ReturnUrl">Sign in with Google</a>

<a href="/external/Facebook?returnUrl=@Model.ReturnUrl">Sign in with Facebook</a>

