@page
@model Avancira.API.Pages.Account.ResetPasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Reset Password";
    Layout = "../Shared/_AccountLayout";
}

<form method="post" class="account-form">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="account-form__validation"></div>
    <input type="hidden" asp-for="Input.UserId" />
    <input type="hidden" asp-for="Input.Token" />

    <div class="account-form__group">
        <label asp-for="Input.Password" class="account-form__label"></label>
        <input asp-for="Input.Password" type="password" class="account-form__input" autocomplete="new-password" />
        <span asp-validation-for="Input.Password" class="account-form__error"></span>
    </div>

    <div class="account-form__group">
        <label asp-for="Input.ConfirmPassword" class="account-form__label"></label>
        <input asp-for="Input.ConfirmPassword" type="password" class="account-form__input" autocomplete="new-password" />
        <span asp-validation-for="Input.ConfirmPassword" class="account-form__error"></span>
    </div>

    <button type="submit" class="account-form__submit">Reset Password</button>
</form>

<p class="account-form__footer-text">
    Remembered your password?
    <a class="account-form__link" asp-page="/Account/Login">Back to login</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
