<div class="help-request-refused">
    <h3 class="title">Request refused</h3>
    <p class="description">
      The requested tutor may not be available. Rest assured, Avancira will help you in your search! 
      You will receive proposals from available tutors, which correspond to the criteria selected in your initial request.
      It's up to you to make your choice and accept the proposal(s) that interest you!
    </p>
    <div class="info-box">
      <span class="icon">ℹ️</span>
      <p>
        Look at the tutor's ad to make your decision!
        To do this, click on the logo next to their profile picture from your mailbox.
      </p>
    </div>
    <p class="additional-info">
      Do you want to do <a href="#" class="link">some research</a> on your own?
      Do not hesitate to send several requests. Find our advice <a href="#" class="link">here</a> to send a lesson request!
    </p>
  </div>
  