<div class="help-cancel-a-pack">
    <h3 class="title">Cancel a pack</h3>
    <p class="intro">
      Do you want to cancel a pack proposal? You can do this as long as your tutor has not accepted it. Go to your 
      <a href="#" class="link">messages</a>.
    </p>
    <ul class="steps-list">
      <li>
        Click on the “Propositions”.
      </li>
      <li>
        Click “Cancel”.
      </li>
    </ul>
    <p class="info">
      Your pack proposal will be canceled and will no longer appear in your email.
    </p>
    <p class="note">
      If the pack has already been accepted by your tutor, be sure to inform them and contact us by email at 
      <a [href]="'mailto:hey@avancira.com'" class="link">hey&#64;avancira.com</a>.
    </p>
  </div>
  