@use 'colors';

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e3f2fd;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f48fb1;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .login-form {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;

    h3 {
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
      color: #3949ab;
    }

    .form-group {
      margin-bottom: 1rem;
      position: relative;

      .form-control {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #90caf9;
        border-radius: 4px;
        font-size: 14px;

        &.is-invalid {
          border-color: #e3342f;
        }
      }

      .text-danger {
        font-size: 12px;
        color: #e3342f;
        margin-top: 0.25rem;
      }
    }

    .login-btn {
      width: 100%;
      background-color: #515ffa;
      color: #fff;
      border: none;
      padding: 0.5rem;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;

      &:disabled {
        background-color: #ddd;
        cursor: not-allowed;
      }
    }

    .or-divider {
      margin: 1rem 0;
      font-size: 14px;
      color: #999;
    }

    .facebook-login,
    .google-login,
    .apple-login {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: #f3e5f5;
      border: none;
      padding: 0.5rem;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0.5rem;
      transition: background-color 0.3s ease;

      i {
        font-size: 1.2rem; // Adjust icon size
        margin-right: 0.5rem; // Space between icon and text
      }

      &:hover {
        background-color: #e8eaf6;
      }
    }

    .google-login {
      i {
        color: #db4437; // Google red
      }
    }

    .apple-login {
      i {
        color: #000; // Apple black
      }
    }

    .footer {
      margin-top: 1rem;

      p {
        font-size: 14px;
        color: #666;

        a {
          color: #f48fb1;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.bg-pattern-style
{
  height: 100% !important;
}
.content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}