<div class="reset-password-container">
    <h2 *ngIf="!formDisabled">Reset Your Password</h2>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" *ngIf="!successMessage && !formDisabled">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          formControlName="newPassword"
          placeholder="Enter new password"
        />
        <div *ngIf="newPasswordControl?.touched">
          <span *ngIf="newPasswordControl?.errors?.['required']">
            Password is required.
          </span>
          <span *ngIf="newPasswordControl?.errors?.['minlength']">
            Password must be at least 8 characters.
          </span>
          <span
            *ngIf="
              newPasswordControl?.hasError('pattern') &&
              !uppercasePattern.test(newPasswordControl?.value || '')
            "
          >
            Password must contain at least one uppercase letter.
          </span>
          <span
            *ngIf="
              newPasswordControl?.hasError('pattern') &&
              !lowercasePattern.test(newPasswordControl?.value || '')
            "
          >
            Password must contain at least one lowercase letter.
          </span>
          <span
            *ngIf="
              newPasswordControl?.hasError('pattern') &&
              !digitPattern.test(newPasswordControl?.value || '')
            "
          >
            Password must contain at least one digit.
          </span>
          <span
            *ngIf="
              newPasswordControl?.hasError('pattern') &&
              !symbolPattern.test(newPasswordControl?.value || '')
            "
          >
            Password must contain at least one non-alphanumeric character.
          </span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm your password"
        />
        <span *ngIf="confirmPasswordControl?.invalid && confirmPasswordControl?.touched">
          Confirmation is required.
        </span>
      </div>
  
      <button type="submit" [disabled]="isSubmitting">Reset Password</button>
    </form>
  </div>
  