<div class="help-student-cancellation-policy">
    <h3 class="title">Student cancellation policy</h3>
    <p class="intro">
      This article is only about lessons paid through the platform.
    </p>
    <p class="description">
      If you have scheduled a lesson with your tutor, you can 
      <a href="#" class="link">cancel</a> it via the 'My Messages' tab.
    </p>
    <ul class="policy-list">
      <li>
        If you cancel the lesson more than 24 hours before it starts, you will be fully refunded. 
        The tutor will be notified and the amount of the lesson will be visible in your bank account 
        within 3 to 5 working days.
      </li>
      <li>
        Your lesson took place in more than 24 hours: a cancellation policy may apply. 
        The tutor chooses to be paid in full, 50% or to reimburse you in full.
      </li>
    </ul>
    <div class="note">
      <p>
        <i class="icon">ℹ</i> 
        You also have the possibility to 
        <a href="#" class="link">modify the date of the lesson</a>.
      </p>
    </div>
  </div>
  