<div class="tutor-status">
    <h1 class="title">What is your status as a tutor?</h1>
    <p class="intro">Avancira is not the employer of the tutors.</p>
    <p class="description">
      All tutors on the platform are expected to follow all state and federal tax laws.
    </p>
    <p class="description">
      For more information speak with the right professional or check out the
      <a href="https://www.irs.gov" target="_blank">Internal Revenue Service</a> for more information.
    </p>
    <p class="description">
      If you have any questions please contact our customer service team at
      <a href="mailto:hey@avancira.com">hey&#64;avancira.com</a>.
    </p>
  </div>
  