<div class="payment-receipts">
    <h1 class="title">Payment Receipts</h1>
    <p class="description">
      This article is about payments made through the platform. For each payment received, find your payment receipts in your account.
    </p>
  
    <p class="instructions-title">To access it:</p>
    <ul class="steps">
      <li>Go to your dashboard</li>
      <li>Click on the “My Account” tab</li>
      <li>Click on my payments “My payments”</li>
    </ul>
  
    <p class="description">
      You can then consult your “Payment history”. Under your Avancira balance, you will find the history of all the lessons or packs programmed
      with your students.
    </p>
  
    <p class="description">
      To select a specific payment, click on the “Payment from...” button and your payment receipt will appear!
    </p>
  </div>
  