<div class="help-change-payment-method">
    <h3 class="title">Change my payment method</h3>
    <p class="intro">
      To change your payment method, go to your profile:
    </p>
    <ul class="instructions">
      <li>In the “My account” tab, select “My payments”</li>
      <li>Go to “Payment method”</li>
      <li>Click on the button “Add a payment method”</li>
    </ul>
    <p class="note">
      Following the addition of your new payment method, you can delete the old one by clicking on the
      <span class="icon">🗑</span> logo.
    </p>
  </div>
  