<div class="avancira-guidelines">
    <h1>The Avancira Guidelines</h1>
    <p>Congratulations, you are a Avancira!</p>
    <p>A very warm welcome from the entire team <span class="emoji">👏</span></p>
    <p>
      As a Avancira, you have a commitment to your students and your professionalism will be your primary quality.
    </p>
  
    <div class="missions">
      <div class="mission">
        <h2>Your 1st mission</h2>
        <p>When you receive a request, respond as quickly as possible!</p>
      </div>
      <div class="mission">
        <h2>Your 2nd mission</h2>
        <p>If you accept a request, you commit to organizing the first class with your student.</p>
      </div>
      <div class="mission">
        <h2>Your 3rd mission</h2>
        <p>Your skills must match what you've put in your listing.</p>
      </div>
      <div class="mission">
        <h2>Your 4th mission</h2>
        <p>If a lesson needs to be cancelled due to unforeseen circumstances, inform your student as soon as possible.</p>
      </div>
    </div>
  </div>
  