<div class="create-an-ad">
    <h1>Create an ad</h1>
    <p>
      Do you want to share and pass on your knowledge to incredible students?
    </p>
    <p>
      Whether you're a teacher, student, artist, professional, self-taught, or simply passionate, you can
      <a href="#" class="link">post your ad</a>
      to give lessons and start the Avancira adventure.
    </p>
    <p>
      Free, easy, and without any intermediary, Avancira offers you the chance to teach and share your knowledge in more than 1000 subjects.
    </p>
    <p>
      Your subject doesn't exist on the platform? <a href="#" class="link">Ask us to create it!</a>
    </p>
    <p>
      Every day thousands of motivated students are looking for their avancira. What if you were next?
    </p>
    <div class="info-box">
      <p>
        <i class="icon-info"></i> The quality of your ad is fundamental, take the time to ensure it looks as professional as possible. Also, be sure to put a nice photo of you, bright and smiling 😊
      </p>
    </div>
  </div>
  