<div class="modify-cancel-lesson">
    <h1 class="title">Modify or cancel a lesson</h1>
    <p class="description">
      Do you want to change the date of an already scheduled class? Go to your lesson page.
    </p>
    <ul class="steps">
      <li>Click on the scheduled lesson (3 small dots will appear in the desktop version)</li>
      <li>Click on modify the course or cancel the lesson</li>
      <li>For a modification, choose the new date on which you would like the lesson to take place</li>
    </ul>
    <p class="details">
      If you cancel the lesson, your student will receive a notification and be refunded.
      For a modification, if your student is not available on the new dates, the original date of the lesson will be maintained.
    </p>
    <div class="info-box">
      <p class="info-text">
        <span class="icon">ℹ</span>
        Be sure to let your student know quickly!
      </p>
    </div>
  </div>
  