<div class="help-edit-a-lesson">
    <h3 class="title">Edit a lesson</h3>
    <p class="intro">
      Do you want to change the date of an already scheduled lesson? Do it directly from your messages.
    </p>
  
    <ul class="steps-list">
      <li>Click on the scheduled class and edit the class.</li>
      <li>Choose a new date or time for your lesson.</li>
    </ul>
  
    <p class="details">
      The change will then be sent to your tutor, who will accept or reject it.
    </p>
  
    <div class="note">
      <p>
        <span class="icon">ℹ️</span>
        As long as the tutor does not accept, the initial date of the lesson is maintained.
      </p>
    </div>
  </div>
  