@page "/login"
@attribute [AllowAnonymous]
@inject IAuthenticationService AuthService
@inject NavigationManager Navigation

<PageTitle>Login</PageTitle>

<p>Redirecting to sign in...</p>

@code {
    protected override void OnInitialized()
    {
        AuthService.NavigateToExternalLogin(Navigation.Uri);
    }
}
