<div class="help-book-a-pack">
    <h3 class="title">Book a pack</h3>
    <p class="intro">
      The tutors have the possibility of offering you the possibility of booking several lessons at once, at a generally more advantageous rate.
    </p>
    <p class="description">
      These are called lesson packs. They can be 5 or 10 hours.
    </p>
    <p class="details">
      You will find information about their price either in the "Rates" section of your tutor's ads, or when requesting a pack.
    </p>
    <h4 class="subtitle">To send a package proposal to your tutor:</h4>
    <ul class="steps-list">
      <li>
        Go to your <a href="#" class="link">messages</a>.
      </li>
      <li>
        Click on the button at the bottom right and choose the desired pack (5 or 10 hours).
      </li>
      <li>
        Choose the payment method. Payment will be made only if the teacher accepts your package proposal.
      </li>
    </ul>
    <p class="info">
      Your tutor will be notified of your proposal, they will only have to validate your pack proposal.
    </p>
    <div class="note">
      <p>
        <span class="icon">ℹ️</span>
        Once the pack has been accepted, a credit of hours will be added to your account. To utilize the hours of the pack,
        <a href="#" class="link">schedule your lessons</a> via messaging.
      </p>
    </div>
  </div>
  