<app-header></app-header>

<div class="category-detail-page">
  <div class="container">
    <h1 class="page-title">{{ categoryName }}</h1>
    <div *ngIf="subcategories.length; else noData">
      <div *ngFor="let subcategory of subcategories" class="subcategory">
        <h2 class="subcategory-title">{{ subcategory.title }}</h2>
        <div class="items">
          <a *ngFor="let item of subcategory.items" (click)="navigateToSearch(item)" class="item">{{ item }}</a>
        </div>
      </div>
    </div>
    <ng-template #noData>
      <p class="no-data-message">No subcategories found for "{{ categoryName }}".</p>
    </ng-template>
  </div>
</div>

<app-footer></app-footer>
