<div class="receive-my-payment">
    <h1 class="title">Receive my payment</h1>
    <p class="description">
      To receive your balance, simply associate your Paypal account.
    </p>
    <ul class="steps">
      <li>
        Go to the <strong>"Payment preference"</strong> page (My dashboard > My account > My payments > Payment preference)
      </li>
      <li>Click on <strong>"Add a payment method"</strong></li>
    </ul>
    <h2 class="section-title">Associate your Paypal account</h2>
    <p class="details">
      Log in with your Paypal account and you're done!
    </p>
  </div>
  