<div class="states-section">
    <h1>States and Territories</h1>
    <div class="banner">
      <p>Browse the range of courses available near you</p>
      <i class="icon-globe"></i>
    </div>
    <div class="states-list">
      <ul>
        <li>New South Wales</li>
        <li>Victoria</li>
        <li>Queensland</li>
        <li>Western Australia</li>
        <li>South Australia</li>
        <li>Tasmania</li>
        <li>Northern Territory</li>
        <li>Australian Capital Territory</li>
      </ul>
    </div>
  </div>
