<app-multi-step-modal [size]="'lg'" [title]="'Create a New Listing'" [isOpen]="true" [totalSteps]="totalSteps" [(step)]="step"
  [stepLabels]="stepLabels" [isStepValid]="isStepValid" (onSubmit)="submitCreateListing()" (onClose)="closeModal()">
  <form [formGroup]="createListingForm" (ngSubmit)="submitCreateListing()">

    <div *ngIf="step === 1">
      <div class="form-group">
        <label for="title">Title:</label>
        <input id="title" formControlName="title" class="form-control" />
        <div *ngIf="createListingForm.get('title')?.invalid && createListingForm.get('title')?.touched"
          class="text-danger">
          Title is required and must be at least 3 characters.
        </div>
      </div>
      <div class="form-group">
        <label for="image">Upload Image:</label>
        <input id="image" type="file" class="form-control" (change)="onImageSelected($event)" />
        <div *ngIf="createListingForm.get('listingImage')?.invalid && createListingForm.get('listingImage')?.touched"
          class="error">
          Image is required.
        </div>
      </div>
    </div>

    <div *ngIf="step === 2">
      <div class="form-group">
        <label for="lessonCategory">Lesson Category:</label>
        <app-auto-complete-input [options]="lessonCategories" (searchTextChanged)="loadLessonCategories($event)"
          (selectedOption)="selectOption($event)" (newOptionCreated)="addNewLessonCategory($event)">
        </app-auto-complete-input>
      </div>
      <div class="form-group">
        <label for="locations">Locations:</label>
        <select id="locations" class="form-control" formControlName="locations" multiple>
          <option *ngFor="let location of locationOptions" [value]="location">{{ location }}</option>
        </select>
      </div>
    </div>

    <div *ngIf="step === 3">
      <div class="form-group">
        <label for="aboutLesson">About the Lesson:</label>
        <textarea id="aboutLesson" formControlName="aboutLesson" class="form-control"></textarea>
        <div *ngIf="createListingForm.get('aboutLesson')?.invalid && createListingForm.get('aboutLesson')?.touched"
          class="error">
          .....
        </div>
      </div>
      <div class="form-group">
        <label for="aboutYou">About You:</label>
        <textarea id="aboutYou" formControlName="aboutYou" class="form-control"></textarea>
        <div *ngIf="createListingForm.get('aboutYou')?.invalid && createListingForm.get('aboutYou')?.touched"
          class="error">
          .....
        </div>
      </div>
    </div>

    <div *ngIf="step === 4">
      <fieldset class="form-group" formGroupName="rates">
        <legend>Rates</legend>
        <div class="form-group">
          <label for="hourlyRate">Hourly Rate:</label>
          <input id="hourlyRate" type="number" class="form-control" formControlName="hourly"
            (input)="calculatePerHour()" />
          <div *ngIf="createListingForm.get('rates.hourly')?.invalid && createListingForm.get('rates.hourly')?.touched"
            class="error">
            Hourly rate is required and must be a valid number.
          </div>
        </div>
        <div class="form-group" style="display: none;">
          <label for="fiveHoursRate">5 Hours Rate:</label>
          <input id="fiveHoursRate" type="number" class="form-control" formControlName="fiveHours"
            (input)="calculatePerFiveHours()" />
        </div>
        <div class="form-group" style="display: none;">
          <label for="tenHoursRate">10 Hours Rate:</label>
          <input id="tenHoursRate" type="number" class="form-control" formControlName="tenHours" />
        </div>
      </fieldset>
    </div>

    <div *ngIf="step === 5">
      <div class="form-group">
        <label for="socialPlatforms">Social Platforms:</label>
        <select id="socialPlatforms" class="form-control" formControlName="socialPlatforms" multiple>
          <option *ngFor="let platform of socialPlatformOptions" [value]="platform">{{ platform }}</option>
        </select>
      </div>
    </div>
  </form>
</app-multi-step-modal>