<div class="cancel-lesson-pack">
    <h1 class="title">Cancelling a lesson pack</h1>
    <p class="intro">
      Do you want to cancel a pack proposal? You can do this until your student accepts it. Go to your messages.
    </p>
    <ul class="steps">
      <li>Click on “Propositions”</li>
      <li>Click “Cancel”</li>
    </ul>
    <p class="closing">
      Your pack proposal will be cancelled and will no longer appear on your account.
    </p>
    <p class="additional-info">
      If the pack has already been accepted by your student, be sure to inform them and contact us by email at
      <a href="mailto:hey@avancira.com">hey&#64;avancira.com</a>.
    </p>
  </div>
  