<div class="help-change-reset-password">
    <h3 class="title">Change or reset my password</h3>
    <p class="section-title">Forgot your password?</p>
    <p class="description">
      Go to the login page and click on <span class="highlight">“Forgot password”</span>. Enter your email address to receive:
    </p>
    <ul class="list">
      <li>A link to connect directly</li>
      <li>The procedure to reset your password</li>
    </ul>
    <p class="section-title">Do you want to change your password?</p>
    <p class="description">
      In the tab <span class="highlight">“My account”</span> then in the section 
      <span class="highlight">“Change password 🔒”</span>, enter your old password then the new one.
    </p>
  </div>
  