<div class="manage-subscription">
    <h1>Manage my subscription</h1>
    <p>
      For your convenience, a 'Premium' tab dedicated to your subscription is available on your profile!
      You will find there all the information related to your subscription (expiry date, remaining days...).
    </p>
    <p>
      You can suspend it at any time on this page by clicking the <strong>“Suspend”</strong> button and reactivate
      it on this same page by clicking <strong>“Reactivate”</strong>.
    </p>
  </div>
  