<!-- Page Content -->
<div class="bg-pattern-style bg-pattern-style-register">
  <div class="content">

    <!-- Register Content -->
    <div class="account-content">
      <div class="account-box">
        <div class="login-right">
          <div class="login-header">
            <h3><span [routerLink]="'/'">Avancira</span> Register</h3>
            <p class="text-muted">Access to our dashboard</p>
          </div>

          <!-- Register Form -->
          <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <!-- <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">First Name</label>
                  <input id="first-name" type="text" class="form-control" name="first_name" autofocus="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Last Name</label>
                  <input id="last-name" type="text" class="form-control" name="last_name">
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <label class="form-control-label">Email Address</label>
              <input type="email" id="Input_Email" class="form-control" placeholder="Email address"
                formControlName="email" autocomplete="username"
                [ngClass]="{ 'is-invalid': signupForm.get('email')?.invalid && signupForm.get('email')?.touched }" />
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Password</label>
                  <input type="password" id="Input_Password" class="form-control" placeholder="Password"
                    formControlName="password" autocomplete="new-password"
                    [ngClass]="{ 'is-invalid': signupForm.get('password')?.touched && signupForm.get('password')?.errors }" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Confirm Password</label>
                  <input type="password" id="Input_VerifyPassword" class="form-control" placeholder="Verify password"
                    formControlName="verifyPassword" autocomplete="new-password"
                    [ngClass]="{ 'is-invalid': signupForm.get('verifyPassword')?.touched && signupForm.get('verifyPassword')?.errors }" />
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Error messages for each validator -->
              <span class="text-danger"
                *ngIf="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched">
                Password is required.
              </span>
              <span class="text-danger"
                *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched">
                Password must be at least 6 characters long.
              </span>
              <span class="text-danger"
                *ngIf="signupForm.get('password')?.errors?.['noNonAlphanumeric'] && signupForm.get('password')?.touched">
                Password must contain at least one non-alphanumeric character.
              </span>
              <span class="text-danger"
                *ngIf="signupForm.get('password')?.errors?.['noLowercase'] && signupForm.get('password')?.touched">
                Password must contain at least one lowercase letter.
              </span>
              <span class="text-danger"
                *ngIf="signupForm.get('password')?.errors?.['noUppercase'] && signupForm.get('password')?.touched">
                Password must contain at least one uppercase letter.
              </span>


              <span class="text-danger"
                *ngIf="signupForm.get('verifyPassword')?.errors?.['passwordsMismatch'] && signupForm.get('verifyPassword')?.touched">
                Passwords do not match. Please try again.
              </span>

            </div>
            <div class="form-group">
              <div class="form-check form-check-xs custom-checkbox">
                <input type="checkbox" class="form-check-input" name="agreeCheckboxUser" id="agree_checkbox_user">
                <label class="form-check-label" for="agree_checkbox_user">I agree to Avancira <a tabindex="-1"
                    href="/privacy-policy">Privacy Policy</a> &amp; <a tabindex="-1" href="/terms"> Terms.</a> </label>
              </div>
            </div>
            <button class="btn btn-primary login-btn" type="submit" [disabled]="signupForm.invalid">Create
              Account</button>
            <!-- Error Message -->
            <div *ngIf="signupError" class="alert alert-danger" role="alert">
              {{ signupError }}
            </div>

            <div class="login-or">
              <span class="or-line"></span>
              <span class="span-or">or</span>
            </div>
            <div class="row form-row social-login">
              <div class="col-6">
                <button class="btn btn-facebook btn-block w-100" (click)="signupWithFacebook()">
                  <i class="fab fa-facebook-f me-1"></i> Signup
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-google btn-block w-100" (click)="signupWithGoogle()">
                  <i class="fab fa-google me-1"></i> Signup
                </button>
              </div>
            </div>

            <div class="account-footer text-center mt-3">
              Already have an account? <a class="forgot-link mb-0" routerLink="/signin">Login</a>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!-- /Register Content -->

  </div>

</div>
<!-- /Page Content -->