<div class="help-cancel-a-lesson">
    <h3 class="title">Cancel a lesson</h3>
    <p class="intro">
      Do you want to cancel a lesson already scheduled? Go to your messages.
    </p>
  
    <ul class="steps-list">
      <li>Click on the scheduled lesson, then on 'cancel lesson'.</li>
      <li>
        Before confirming your cancellation, the amount of the refund will be
        indicated according to the tutor's cancellation policy.
      </li>
    </ul>
  
    <div class="note">
      <p>
        <span class="icon">ℹ️</span>
        If you cancel 24 hours before class, you will be fully refunded. If you
        miss this time, the tutor's cancellation policy kicks in. You will then
        have to pay for all or part of the lesson.
      </p>
    </div>
  
    <p class="extra-info">
      <span class="icon">👉</span>
      Find all the information about the
      <a href="#" class="link">cancellation policy</a> here.
    </p>
  </div>
  