<div class="help-video-lesson-issues">
    <h3 class="title">Video lesson technical issues</h3>
    <p class="description">
      Opted for online lessons but having difficulties? Don't panic! Have a look at the following steps:
    </p>
    <h4 class="subtitle">Bad connection</h4>
    <p class="details">
      Connection problems can be related to your connection or that of the person you are in a lesson with.
      We suggest checking the speed of your connection. If you have a bad Wi-Fi connection, we recommend that you:
    </p>
    <ul class="steps-list">
      <li>Switch to an ethernet cable if you are on a computer.</li>
      <li>Use 4G/5G mobile data.</li>
    </ul>
  
    <h4 class="subtitle">Browser problems</h4>
    <p class="details">
      Access to the camera is possible from different browsers. However, there may be compatibility issues
      with Google Chrome on certain versions of Windows. If this is your case, we recommend using Mozilla Firefox.
    </p>
  
    <h4 class="subtitle">Microphone or camera problem</h4>
    <p class="details"><strong>Tip 1:</strong> Change lesson settings</p>
    <ul class="steps-list">
      <li>Click on the three dots icon, then click settings.</li>
      <li>Click the devices tab, open the camera, microphone, and audio output drop-down menu and accept the permissions.</li>
      <li>Click on "Accept".</li>
    </ul>
  
    <p class="details"><strong>Tip 2:</strong> Change permissions from your Google Chrome browser</p>
    <ul class="steps-list">
      <li>Go to your Google Chrome browser.</li>
      <li>Click on the three dots icon in the top right-hand corner.</li>
      <li>Click Settings.</li>
      <li>Click Privacy & Security.</li>
      <li>Click Site settings.</li>
      <li>
        Select Camera or Microphone and check that your camera or microphone is authorized and that Avancira is not listed in sites blocked by your browser.
      </li>
    </ul>
  
    <p class="details"><strong>Tip 3:</strong> Change permissions in your computer's Windows settings</p>
    <ul class="steps-list">
      <li>Go to Windows settings.</li>
      <li>Go to Privacy.</li>
      <li>Verify that camera access for the device is enabled.</li>
      <li>Enable the option "Allow applications to access the camera".</li>
      <li>
        In the "Choose which Microsoft Store apps can access the camera" section, enable "Windows Search", "Camera", and "App Connector".
      </li>
      <li>For the microphone, follow the same steps.</li>
    </ul>
  </div>
  