<div class="benefits-student-pass">
  <h3 class="title">Benefits of the Student Pass</h3>
  <p class="intro">
    Avancira is a networking platform allowing you to find the ideal tutor in all subjects!
  </p>
  <p class="description">
    To benefit, subscribe to the Student Pass which reveals many advantages:
  </p>
  <ul class="advantages-list">
    <li>Contact and exchange with all the tutors on the platform</li>
    <li>First class offered free by the majority of our tutors</li>
    <li>Very affordable prices</li>
    <li>The first lesson free allows you to choose the right tutor for you</li>
    <li>100% secure lesson payment (credit/debit card, Paypal)</li>
    <li>A dedicated team to support you throughout your experience</li>
  </ul>
  <p class="closing">
    With this Student Pass, start a lovely learning adventure.
  </p>
  <div class="info-box">
    <p class="info-text">
      <i class="icon">i</i>
      The amount of the Student Pass is only debited if a teacher accepts your lesson request.
    </p>
  </div>
</div>
