<div class="change-email-section">
    <h3 class="title">Change my email address</h3>
    <p class="description">
      At any time, it is possible to modify the email address registered on your profile:
    </p>
    <ul class="steps">
      <li>Go to the “My account” tab then “My profile”</li>
      <li>Enter your new email address</li>
      <li>Click on “Validate”</li>
    </ul>
    <p class="note">
      Your new email address will appear in <span class="highlight">green</span>!
    </p>
  </div>
  