<div class="report-lesson">
    <h1 class="title">Report a lesson</h1>
    <p class="intro">
      Did the lesson not take place or did a problem arise? You can report the lesson from your chat:
    </p>
    <ul class="steps">
      <li>Click on the lesson in question</li>
      <li>Click on the 3 small dots that appear “...”</li>
      <li>Click “Report a problem”</li>
      <li>Indicate the reason for the report</li>
    </ul>
    <div class="info-box">
      <p class="info-text">
        <span class="icon">ℹ️</span>
        You can report a class within 24 hours of the lesson taking place.
      </p>
    </div>
    <p class="closing">
      Your report will be sent to our teams who will get back to you.
    </p>
  </div>
  