@page "/"
@using System.Security.Claims

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                 <img src="full-stack-hero-logo.png" Style="height:250px" />
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h2"></MudText>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">Avancira</MudText>
            <MudText Align="Align.Center" Typo="Typo.h4"></MudText>            
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center">
            </MudText>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
             <MudText Align="Align.Center">Version 1.0</MudText>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = default!;

    public IEnumerable<Claim>? Claims { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        Claims = authState.User.Claims;
    }
}