<div class="help-report-a-lesson">
    <h3 class="title">Report a lesson</h3>
    <p class="intro">
      Did you encounter a difficulty with your lesson or did it not take place?
    </p>
    <ul class="steps-list">
      <li>
        From your <a href="#" class="link">messages</a>, click on the lesson in question and then on “Report a problem”.
      </li>
      <li>Indicate the most appropriate reason.</li>
    </ul>
    <p class="details">
      Your report will be forwarded to our teams who will come back to you to resolve it.
    </p>
    <div class="note">
      <p class="note-title">
        <i class="icon">ℹ</i> You can report a lesson during and within 24 hours.
      </p>
    </div>
    <p class="contact">
      <i class="icon">👉</i> You can also <a href="#" class="link">contact us</a> directly.
    </p>
  </div>
  