<div class="help-create-account">
    <h3 class="title">Create an account</h3>
    <p class="description">
      Go to the <a href="https://www.avancira.com" target="_blank" class="link">Avancira</a> website, click on “Log in,” then let the magic happen.
    </p>
    <p class="details">
      You can create your profile from your email address, your Facebook account, or your Google account.
    </p>
    <p class="alert">
      <span class="icon">ℹ️</span> Once your profile has been created, you can "add your tutors to favorites".
    </p>
  </div>
  