name: Backend - .NET Core API

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-docker:
    runs-on: ubuntu-latest

    steps:
    # Checkout the code
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: recursive

    # Log in to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Build and push backend API Docker image
    - name: Build and push backend API Docker image
      run: |
        docker build -f Dockerfile -t "mirotivo/avancira-backend:latest" .
        docker push "mirotivo/avancira-backend:latest"

    # Build and push Auth server Docker image
    - name: Build and push Auth server Docker image
      run: |
        docker build -f Dockerfile.Auth -t "mirotivo/avancira-auth:latest" .
        docker push "mirotivo/avancira-auth:latest"

    # Build and push BFF Docker image
    - name: Build and push BFF Docker image
      run: |
        docker build -f Dockerfile.BFF -t "mirotivo/avancira-bff:latest" .
        docker push "mirotivo/avancira-bff:latest"
  
  deploy:
    runs-on: ubuntu-latest
    needs: build-docker

    steps:   
    # SSH into the server and deploy the backend API container
    - name: Deploy backend API to server
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }}
        port: 22
        script: |
          docker pull mirotivo/avancira-backend:latest
          docker stop avancira-backend-container || true
          docker rm avancira-backend-container || true
          docker run -d \
            --name avancira-backend-container \
            --restart always \
            --network avancira-network \
            -p 9000:8080 \
            -v ${PWD}/Database:/avancira-backend/Database \
            -v ${PWD}/wwwroot:/avancira-backend/wwwroot \
            --env-file /home/avancira/config.env \
            mirotivo/avancira-backend:latest

    # SSH into the server and deploy the Auth server container
    - name: Deploy Auth server to server
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }}
        port: 22
        script: |
          docker pull mirotivo/avancira-auth:latest
          docker stop avancira-auth-container || true
          docker rm avancira-auth-container || true
          docker run -d \
            --name avancira-auth-container \
            --restart always \
            --network avancira-network \
            -p 9100:8080 \
            -v ${PWD}/Database:/avancira-auth/Database \
            --env-file /home/avancira/config.env \
            mirotivo/avancira-auth:latest

    # SSH into the server and deploy the BFF container
    - name: Deploy BFF to server
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }}
        port: 22
        script: |
          docker pull mirotivo/avancira-bff:latest
          docker stop avancira-bff-container || true
          docker rm avancira-bff-container || true
          docker run -d \
            --name avancira-bff-container \
            --restart always \
            --network avancira-network \
            -p 9200:8080 \
            --env-file /home/avancira/config.env \
            mirotivo/avancira-bff:latest
